.mypage_back{
  position: fixed;
  background-color:#FFF0F5;
  width: 100vw;
  z-index: 10;
  padding: 200px 0;
  display: flex;
  justify-content: center;
}

.mypage_hero{
  width: 600px;
}

.profile_hero{
  display: flex;
}

.profile_text_hero{
  width: 450px;
  padding-left: 50px;
}

p.profile_label{
  font-weight: 400;
  font-size: 18px;
  color: #FF96B9;
  margin: 0 0 20px;
}

.mypage_actions{
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

a.submit{
  background-color: #96E3FF;
  border-radius: 10px;
  width: 100px;
  height: 35px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}