body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.back_main_color{
  position: fixed;
  background-color:LavenderBlush;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

.user{
  position: relative;
  z-index: 20;
}

.back_head{
  background-color: white;
  height: 70px;
  width: 100vw;
  padding: 0 20px 0 10px;
  display: flex;
  align-items: center;
}

.user_title{
  color: #96E3FF;
  font-size: 35px;
  font-weight: bold;
  text-align: right;
  width: 100vw;
  letter-spacing: 3px;
}

.back_main{
  width: 100vw;
  padding: 100px 0 50px;
  display: flex;
  justify-content: center;
}

.user_form{
  width: 350px;
}

.profile_form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_image{
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 75px;
  margin-bottom: 20px;
}

.preview-image{
  object-fit: cover;
}

.field{
  margin-top: 20px;
}

.user_label{
  font-size: 18px;
  font-weight: 400;
  margin-top: ;
}

.mandatory{
  color: #FF96B9;
  margin-left: 12px;
  font-size: 12px;
  vertical-align: 2px;
}

.input-default{
  background-color: white;
  border-radius: 10px;
  margin: 5px 0 0;
  width: 350px;
  height: 30px;
  padding: 5px 10px;
}

.input-word{
  background-color: white;
  border-radius: 10px;
  margin: 5px 0 20px;
  width: 350px;
  height: 85px;
  padding: 5px 10px;
}

.actions{
  margin-top: 50px;
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.submit{
  background-color: #96E3FF;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  color: white;
  font-weight: bold;
}

.login_links{
  margin-top: 15px;
  color: #FF96B9;
  font-size: 12px;
  display: flex;
}

a.a_login{
  text-decoration: none;
  color: #FF96B9;
  font-size: 12px;
  padding: 0 15px;
}